*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.sectionPadding{
    padding: 3rem;
}
body{
    background-color: #999999   ;
}
.title{ 
    font-size: 3rem;
    font-family: 'raleway', sans-serif;
}
.main{
    position: relative;
}
.card-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card, .card2, .card3{
    width: 24%;
    height: 35vh;
    margin: 1rem;
    padding: 2rem;
    background-color: #01172F;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'raleway', sans-serif;
    position: relative;
    font-size: 20px;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid white;
    
}
.card{
    color: #08A4BD;
}
.card2{
    color: #D1E3DD;
    
}
.card3{
    color: #FAA381;
}
.card:hover, .card2:hover,.card3:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.event-name{
    font-weight: bold;
    font-size: 2.3rem;
}
.event, .singleEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}
.event .data, .singleEvent .data{
    margin: 0 0.6rem;
    font-size: 20px;
    font-weight: 500;
}
.single-event{
    display: none;
}

.details-container
{
    margin: 1rem;
    padding: 2rem;
    background-color: #01172F;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'raleway', sans-serif;
    position: relative;
    font-size: 20px;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid white;
    position: relative;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    margin:1rem;
    font-size: 30px;
}
.singleEvent-name{
    font-weight: bold;
    font-size: 3rem;
}
.singleEvent, .singleEvent .data
{
    font-size: 1.5rem;
}